.nav-bar {
  height: 70px;
  background-color: #272727;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 60%;
}

.nav-headings {
  font-family: roboto;
  font-size: 20px;
  color: #ffffff;
  margin-right: 15px;
}

.heading-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}

.logout-btn {
  width: 130px;
  background-color: #6366f1;
  font-family: roboto;
  font-size: 14px;
  border-radius: 5px;
  color: #ffffff;
  height: 30px;
  border-width: 0px;
  cursor: pointer;
}

.link-style {
  text-decoration: none;
}
